.App {
  height: 100vh;
  text-align: center;
  font-family: cursive;
}

input {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-family: cursive;
}

button {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 200ms linear;
  background-color: #595f39;
  color: whitesmoke;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #c4c5ba;
  color: black;
}
